.top-wrapper {
  display: grid;
  grid-template-columns: 90ex;
  padding: 0;
}

#whole {
  margin-top: 2em;
  margin-left: 2em;
}

footer {
  display: block;
  float: left;
}

h1 {
  margin: 0;
  font-size: 2em;
}

details {
  padding-bottom: 1em;
}
details:hover {
  box-shadow: 0 0 20px #9094fbff;
  border-radius: 8px;
}
/* 不顯示 summary 的標記 */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary > header > h1 {
  display: inline;
}

article {
  display: block;
}

.top-wrapper > details {
  grid-column: 1;
}
.top-wrapper > nav {
  grid-column: 2;
}
nav#toc {
  display: block;
}
nav#toc > h1 {
  margin-top: 0;
  font-size: 16pt;
}
nav#toc a {
  color: #555;
}

a.toc:hover {
  background-color: #9094fbff;
}
a.mention:hover {
  background-color: #9094fbff;
}
a.mention {
  color: #8c8c8c;
  text-decoration: underline dotted;
}
a.link-self {
  color: #8c8c8c;
  text-decoration: underline dotted;
  white-space: nowrap;
}
a.link-home {
  display: block;
  color: #666;
  font-size: 24px;
  text-decoration: none;
  margin-bottom: 1em;
}

.taxon {
  color: #8c8c8c;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#references > h1,
#related > h1,
#backlinks > h1,
#context > h1 {
  margin-left: 0.5rem;
}

.metadata ul {
  padding: 0;
  list-style-type: disc;
}
.metadata ul,
.metadata ul li {
  display: inline;
}

body {
  transition: 0.3s filter;
}
body.blur {
  filter: blur(3px) contrast(0.8) brightness(0.8);
}
/* `margin: auto` can put a dialog in the middle of screen */
#search-dialog {
  margin: auto;
  width: 50%;
  height: 50%;
  border: none;
}
#search-bar {
  width: 100%;
}

kbd {
  border: 2px solid #cdcdcd;
  border-radius: 0.25rem;
  box-shadow: #cdcdcd;
  box-shadow: inset 0 -1px 0 0 #cdcdcd;
  font-size: 0.825rem;
  padding: 0.25rem;
}

p {
  line-height: 1.4rem;
}

.katex-display,
pre,
img,
section,
center {
  overflow-y: hidden;
}
code {
  background-color: rgba(0, 100, 100, 0.04);
}
pre {
  border-radius: 2px;
  background-color: rgba(0, 100, 100, 0.04);
  padding: 0.5em;
  font-size: 11pt;
  margin-top: 0em;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

iframe {
  width: 100%;
  border: none;
}

blockquote {
  margin: 20px;
  padding: 10px;
  border-left: 5px solid #ccc;
  background-color: #f9f9f9;
  font-style: italic;
}

/* Aspects. */
.Agda .Comment       { color: #B22222 }
.Agda .Background    {}
.Agda .Markup        { color: #000000 }
.Agda .Keyword       { color: #CD6600 }
.Agda .String        { color: #B22222 }
.Agda .Number        { color: #A020F0 }
.Agda .Symbol        { color: #404040 }
.Agda .PrimitiveType { color: #0000CD }
.Agda .Pragma        { color: black   }
.Agda .Operator      {}
.Agda .Hole          { background: #B4EEB4 }

/* NameKinds. */
.Agda .Bound                  { color: black   }
.Agda .Generalizable          { color: black   }
.Agda .InductiveConstructor   { color: #008B00 }
.Agda .CoinductiveConstructor { color: #8B7500 }
.Agda .Datatype               { color: #0000CD }
.Agda .Field                  { color: #EE1289 }
.Agda .Function               { color: #0000CD }
.Agda .Macro                  { color: #0000CD }
.Agda .Module                 { color: #A020F0 }
.Agda .Postulate              { color: #0000CD }
.Agda .Primitive              { color: #0000CD }
.Agda .Record                 { color: #0000CD }

/* OtherAspects. */
.Agda .DottedPattern        {}
.Agda .UnsolvedMeta         { color: black; background: yellow         }
.Agda .UnsolvedConstraint   { color: black; background: yellow         }
.Agda .TerminationProblem   { color: black; background: #FFA07A        }
.Agda .IncompletePattern    { color: black; background: #F5DEB3        }
.Agda .Error                { color: red;   text-decoration: underline }
.Agda .TypeChecks           { color: black; background: #ADD8E6        }
.Agda .Deadcode             { color: black; background: #808080        }
.Agda .ShadowingInTelescope { color: black; background: #808080        }

/* Standard attributes. */
.Agda a { text-decoration: none }
.Agda a[href]:hover { background-color: #B4EEB4 }
.Agda [href].hover-highlight { background-color: #B4EEB4; } 
